@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=1280" />
    <title>SaigonRide Kiosk</title>
    <link rel="stylesheet" href="~/css/swiss-design.css" />
</head>

<body>
<div class="kiosk-container">

    <!-- Left Panel -->
    <partial name="_VehicleInfoPanel" />

    <!-- Right Panel: All States -->
    <div class="payment-panel">
        <partial name="_State_Welcome" />
        <partial name="_State_Authentication" />
        <partial name="_State_RentalSetup" />
        <partial name="_State_Return" />
        <partial name="_State_System" />
    </div>

</div>

<script src="~/js/kiosk/ui-interactions.js"></script>
<script src="~/js/kiosk/api-client.js"></script>
<script src="~/js/kiosk/state-manager.js"></script>
</body>
</html>